<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Create a new user</h1>
    <p>Please enter your details below to create and new user profile</p>

    <div class="form-floating">
      <input type="text" class="form-control" id="firstName" placeholder="First name">
      <label for="firstName">First name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="lastName" placeholder="Last name">
      <label for="lastName">Last name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
      <label for="confirmPassword">Confirm password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</main>