<div class="container">
  <header class="d-flex flex-wrap justify-content-center align-middle py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <fa-icon [icon]="faMicrophoneLines" size="2x"></fa-icon>
      <span class="fs-4 ms-3">Studio Session Planner</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/dashboard" class="nav-link" aria-current="page">Dashboard</a></li>
      <li class="nav-item"><a routerLink="/new-session" class="nav-link">New Session</a></li>
      <li class="nav-item"><a routerLink="/sessions" class="nav-link">Open Session</a></li>
      <li class="nav-item"><a routerLink="/equipment" class="nav-link">Equipment</a></li>
      <li class="nav-item"><a routerLink="/user/user-profile" class="nav-link"><fa-icon [icon]="faUser" size="lg"></fa-icon></a></li>
      <!-- <li class="nav-item"><a routerLink="/user/login" class="nav-link">Log In</a></li> -->
    </ul>
  </header>
</div>