<div class="container">
  <div class="row">

    <div class="col-md-6">
        <h1 class="mb-5">Equipment</h1>
    </div>

    <div class="col-md-6">
      <button class="btn btn-info me-3">Add new equipment</button>
    </div>

  </div>

<div class="row">

  <div class="col-md-6">

    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" routerLink="/equipment/microphone-list">Microphones</li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">Stands</li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">Cables</li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">Speakers</li>
    </ul>

  </div>

</div>

</div>