<app-header></app-header>

<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
          <fa-icon [icon]="faHouse"></fa-icon>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/">Equipment</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Microphones
      </li>
    </ol>
  </nav>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>