<div class="container">

  <div class="card">

    <div class="card-header">

      <div class="row my-2">
        <div class="col-md-8">
          <h3 class=" d-inline-block">{{ currentMicrophone.make }} {{ currentMicrophone.model }}</h3><span class="badge bg-primary rounded-pill align-top ms-2">{{ currentMicrophone.quantity }}</span>
        </div>
        <div class="col-md-4">
          <button class="btn btn-warning btn-sm" routerLink="/equipment/edit-microphone">Edit this mic</button>
        </div>
      </div>

    </div>

    <div class="card-body">
      <img src="../../../assets/AKG_c414_xls.webp" alt="" class="img-fluid my-3 mic">

      <table class="table">
        <tbody>
          <tr>
            <td>Type</td>
            <td>{{ currentMicrophone.type }}</td>
          </tr>
          <tr>
            <td>Polar pattern(s)</td>
            <td>{{ currentMicrophone.polarPatterns }}</td>
          </tr>
          <tr>
            <td>Primary use</td>
            <td>{{ currentMicrophone.primaryUse }}</td>
          </tr>
          <tr>
            <td>Frequency response</td>
            <td>{{ currentMicrophone.frequencyResponse }}</td>
          </tr>
          <tr>
            <td>Preattenuation Pad</td>
            <td>{{ currentMicrophone.preattenuationPad }}</td>
          </tr>
          <tr>
            <td>Bass cut filter</td>
            <td>{{ currentMicrophone.bassCutFilter }}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <img src="../../../assets/AKG414XLS_freq.png" alt="" class="img-fluid my-3 mic-graph my-5">
      </div>
      <div class="row">
        <img src="../../../assets/AKG414XLS_polar.png" alt="" class="img-fluid my-3 mic-graph">
      </div>

    </div>

  </div>

</div>

